

.CardHouseUser--marginBottom {
  margin-bottom: 30px;
}
.CardHouseUser {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin:auto;
font-family: arial;
}

.CardHouseUser__image{
width:100%
}


h1 {
   
    font-size: 16px;
}
.PriceTitle {
padding-left:12px;
}
.PriceTitle__Amount{
color: var(--button-danger-color);
font-size: 16px;
margin:0;

}
.Button-Offer--margin {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  
}
.Button-Offer {
  border: none;
  outline: 0;
  padding: 12px;
  color: #fff;
  background-color: var(--button-success-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.Button-Modify{
  border: none;
  outline: 0;
  padding: 12px;
  color: #000;
  background-color: var(--main-bg-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.list {
   list-style-type: none;
    margin: 0;
    padding: 0;
}
.list__item {
    margin: 7px;
}
.list__span {
  margin:5px;
}
.list__icons {
margin-right: 10px;
}
.list__icons--color {
  color:var(--header-color);
}

.offer-title {
  text-align: center;
   font-style: italic;
   color: var(--button-danger-color);
}