
.navigation-bar{
  width:100%;
  height:60px;
  position:fixed;
  bottom:0;
  left:0;
  background-color:#333;
  color:white;
  font-size:0.8em;
  margin:0;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.navigation-button{
  background:transparent;
  border:none;
  color:#fff;
  padding:0;
  cursor:pointer;
}

.navigation-button--highlighted{
  background:transparent;
  border:none;
  padding:0;
  cursor:pointer;
  color:#f90;;
  font-weight: bold;
}


.navigation-button__title{
  display:block;
}