.neighborhood-container{

    background-color:var(--main-bg-color);
	width:100%;
    display: flex;
	flex-wrap:wrap;
	margin-bottom:60px;
    justify-content: space-around;
}

.neighborhood{
	width:40%;
	min-height: 100px;
	margin:10px;
	padding:1%;
	background-color:white;
}

.neighborhood__title{
	font-size:1em;
}