.request-password-stack-screen{
    width:100vw;
    background-color:white;
}

.request-password-stack-screen__form{
    width:100%;
}

.request-password-stack-screen__input,.request-password-stack-screen__button{
    width:100%;
}

.request-password-stack-screen__button{
    margin-top:10px
}