
.iconFasTimes {
 position:relative;
margin-top: 20px;
margin-bottom: 10px;
font-size: 18px;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  background: #662d91;;
  color: #fff;
  min-width: 50px;
  text-align: center;
  font-size: 35px;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.LocationHousesContainer {
    margin: 20px;
}