
.add-house-card{
    /* display:flex;
    flex-direction:row; */
    background-color:white;
    margin-top:69px;
    padding:1%;
    /* width:90%;
    margin:auto; */
    padding-top:20px;
    font-weight:100;
    font-size: 20px;
}

.add-house-card__localisation-label{
    display:block;
    margin-top:40px;
}

.add-house-card__localisation-button{
    margin:auto;
    display:block;
    font-size:24px;
    border-radius: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+99 */
    background-color: #eee; /* Old browsers */
    color:#777;
    width:50%;
    padding:4%;
    border-radius:3%;
    border:none;
    margin-bottom:10px;
}

.add-house-card__localisation{
    text-align: center;
}

.add-house-card__form-group{
    /* display:flex;
    flex-direction:column;
    justify-content:center; */
    margin:auto;
}

.add-house-card__input{
    width: 100%; 
    margin: auto;
    margin-bottom:7px;
    border: 1px solid #bbb;
    padding: 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.authentication__button .success-button{
    background-color: #3add7c;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 50px;
}

.add-house-card__label{
    /* font-size:40px; */
    margin-bottom:10px;
}

.add-house-card__electricity{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom:20px;
}


.add-house-card__negotiation-box{
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.add-house-card__when-to-pay-box{
    display:flex;
    justify-content: space-between;
}

.add-house-card__when-to-pay-checkbox-group{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-house-card__form-group{
     min-height:40px;
     margin-top:30px;
     margin-bottom:5px;
}

.add-house-card__house-preview{
    max-width:70px;
    height:70px;
    margin:auto;
}

.add-house-card__upload-button{
    color:#aaa;
}

.add-house-card__delete-button{
    color:rgba(255,0,0,0.8);
}

.add-house-card__photo-upload-warning{
    font-weight:"bold";
    text-align:center;
    background-color:rgba(238, 255, 0, 0.3);
    color:#333;
    padding-top:5px;
    padding-bottom:5px;
}

.add-house-card__upload-button,.add-house-card__delete-button{
    margin:auto;
    width:70px;
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:10px;
    background-color:#eee;
    border:none;
    border-radius:3px;
    font-size:25px;
    cursor:pointer;
}


/* .add-house-card__previous-question-button{
    
} */

.add-house-card__previous-question-button::before{
    content:"< ";
    font-weight:bold;
}

.add-house-card__next-question-button::after{
    content:" >";
    font-weight:bold;
}

button{
    cursor:pointer;
}
/* CHECKBOX STYLING*/

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**/

/*  RADIO BUTTON*/
/* Customize the label (the container) */
.radio-container {
    margin-top:10px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .radio-checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .radio-checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .radio-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }


/**/

.add-house-card__next-question-button,.add-house-card__previous-question-button{
    height:50px;
    width:50%;
    border:none;
    background-color:#ccc;
    /* background-color:#87912D; */
    color:black;
    font-weight:400;
    border:3px solid #eee;
    cursor:pointer;
}

.add-house-card__amenities-2{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.add-house-card__question-management{
    text-align: center;
    background-color:#eee;
    padding-top:10px;
}

.mapboxgl-canvas{
    display:block !important;
}