:root {
  --main-bg-color:#d8d8d8;
  --header-color:#662d91;
  --button-success-color:#3add7c;
  --button-danger-color:#ff7373;
}


body{
    background:#eee;
    width: 100vw;
    margin:0;
    overflow: hidden;
    max-height:768px;
    font-family: 'Encode Sans Condensed', sans-serif;
  }
  
  
  
input{
  padding:2%;
  box-sizing:border-box;
}

label{
  font-weight:bold;
  letter-spacing: 2px;
}


button{
  cursor: pointer;
}

.stack-screen {
  width:100vw;
  min-height: 100vh;
  padding: 1%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

.card {
  width: 100%;
  margin:auto;
  box-shadow: -2px 5px 8px #aaa

}

.close-icon {
  background: transparent;
  border: none;
  align-self: flex-start;
  font-size:1.1em;
}

