

body {
background-color:#fff;
}

.Negotiable-Container{
     max-width: 100%;
     margin:20px;
     font-size: 14px ;
     
}
.Negotiable-Container__fa-times {
    font-size: 14px; 
}
.Negotiable-Container__Title {
font-size: 18px;
}
.Negotiable-Container__Paragraph{
    margin-top: 30px;  
}
.Negotiable-Container__Input{
    margin-top: 20px;
    width:100%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: solid;
    border-width: 1px;
    border-color:var(--header-color);
}
.Negotiable-Container__Exemple {
    margin-top: 10px;
}
.Negotiable-Container__Button{
background-color: var(--button-success-color);

border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin-top: 80px;
width:100%;
}