

.users-offer {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #fff;
}
.users-offer__image {
 width: 60px;
height: 60px;
border-radius: 50%;
margin-top:12px;
}

.users-offer__username {
    text-align: center;
   font-size: 20px;
}
.users-offer__username--color {
color:var( --header-color);
}
.users-offer__givenAmount {
  text-align: center;  
}
.users-offer__givenAmount--OfferAmount {
    color:red;
     font-weight: bold;
}
.users-offer__givenAmount--CurrentAmount {
    color:#000;
    font-weight: bold;
}
.users-offer__button {
    border: none;
    padding: 18px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
   
   width: 100%;
}

.users-offer__button--accept {
 background-color: var(--button-success-color);
 color:#fff;
}
.users-offer__button--thinking {
 
 background-color: var(--main-bg-color); 
 color:#000;
}
.users-offer__button--denied {
  
  background-color: var(--button-danger-color);
   color:#fff;
}
.users-offer__button--center {
margin-bottom: 30px;
}