body, html {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
/* Area */
.Area-container__ButtonAdd {
     background-color:#fff;
     border: solid;
     border-color:#662d91;
    border-width: 1px;
     color: #662d91;
     padding: 10px 22px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     border-radius: 25px;
     margin-left: 3px;
    
}

.Area-container__ButtonList {
    max-width: 100%;
    background-color: #662d91;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
/* end of Area buttons */

/*characteristic */
.Characteristic-Numbers{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
/* end characteristic */

/* FingthoseHouseButton */
.FindThoseHousesButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    width:100%;
}
/* Characteristic */
.ContainerCharacteristic {
   max-width: 100%;
   margin:20px;
}
.Numbers {
    margin-bottom: 20px;
}
.titleCharacteristic {
margin-bottom: 10px;
}
.select {
    width: 60px;
    border:solid;
    border-color: #662d91;
    background-color: #fff;
    border-width: 1px;
    color:#662d91;
    margin-bottom: 20px;
}

/* end of characteristic */

/* button for whichTypeOfProprietorship   */
.Amenities__button{
    background-color:#fff;
     border: solid;
     border-color:#662d91;
    border-width: 1px;
     color: #662d91;
     padding: 4px 2px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     border-radius: 35px;
    margin:2px;
     width: 29%;
    
}
.Amenities__button--color{
    background-color:#662d91;
     border: solid;
     border-color:#662d91;
    border-width: 1px;
     color: #fff;
     padding: 4px 2px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     border-radius: 35px;
    margin:2px;
    width: 29%;
}
.AnyHouse-container {
    margin-bottom: 20px;
}

@media screen  and (min-width: 320px) and (max-width: 800px){
.Area-container {
    padding-bottom: 20px;
}
.Area-container__ButtonAdd{
     background-color:#fff;
     border: solid;
     border-color:#662d91;
    border-width: 1px;
     color: #662d91;
     padding: 10px 22px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     border-radius: 25px;
     margin-left: 3px;
      

}
.Area-container__ButtonList {
    max-width: 100%;
    background-color: #662d91;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
/* end of Area buttons */

.Amenities {
    display: flex;
}
 h1 { font-size: 16px  }
}
