

 /* cardProfileHouses */
 .cardProfileHouses {
     display: grid;
     grid-template-columns: 1fr 2fr;
     grid-column-gap: 1px;
     padding: 22px;
     background-color:white;
 }

 /* end of cardProfilesHouses */
 /* PhotoProfileHouses */

 .fa-star {
     color: goldenrod;
     font-size: 10px;
 }

 .wallHouse__card {

     margin-top: 50px;
     margin-left: 10px;
     margin-right: 10px;
     padding-bottom: 10px;
     box-shadow: 1px 0px 10px 0px grey;
 }

 .button {
     width: 90%;
     border: 2px solid #4CAF50;
     /* Green */
     color: #4CAF50;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 25px;
 }

 .center-Button {
     text-align: center;
 }

 .icons {
     padding-right: 10px;
 }

 .infosHouseCard {
     padding-bottom: 40px;
     margin: 12px;
 }

 /* for the heart changing color to red when clicked */
 .redButton {
     color: red;
     font-size: 25px;
     position: absolute;
     right: 20px;
     padding-top: 1px;

 }

 .whiteButton {

     columns: #f2f3;
     font-size: 25px;
     position: absolute;
     right: 20px;
     padding-top: 1px;

 }