html,
body {
  margin: 0;
  padding: 0;
}

#container,
.carousel {
  height: 100%;
  margin: 0;
  width: 100%;
}


.image-slide {
  height: 100%;
  width: 100%;
  transition: background-image .3s ease-in-out;
}

.slide-arrow {
  color: #14B6D4;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}


/* end carousel */

/* header */
.header {
  text-align: center;
}
/* form */
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


 img{
width:100px;
 padding-top: 20px;
}


ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
li ,h2{
  margin: 0;
}
li,p {
  margin:0;
}
/* cardProfileHouses */
.cardProfileHouses {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1px;
    padding: 22px;
}
/* end of cardProfilesHouses */
/* PhotoProfileHouses */

.fa-star {
  color: goldenrod;
 font-size: 10px;
}
.card{
  
margin-top: 50px;
margin-left: 10px;
margin-right: 10px;
padding-bottom: 10px;
box-shadow: 1px 0px 10px 0px grey;
}
.button {
  width: 90%;
  border: 2px solid #4CAF50; /* Green */
  background-color: #fff;
  color: #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}
.center-Button{
 text-align: center;
}
.icons {
  padding-right: 10px;
} 
.infosHouseCard {
  padding-bottom: 40px;
  margin: 12px;
}

/* for the heart changing color to red when clicked */
.redButton {
  color:red;
   font-size: 25px;
   position: absolute;
   right:20px;
   padding-top: 1px;

}

.whiteButton {

  columns: #f2f3;
   font-size: 25px;
   position: absolute;
   right:20px;
   padding-top: 1px;

}