
.navigation-bar{
  width:100vw;
  height:90px;
  position:fixed;
  bottom:0;
  left:0;
  background-color:#333;
  color:white;
  margin:0;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.navigation-button{
  background:transparent;
  color:#666;
  border:none;
  padding:0;
  cursor:pointer;
}

.navigation-button--hightlighted{
  color:#ff9900;
}

.navigation-button__title{
  display:block;
}