.neighborhood-container{

    background-color:#aaa;

	width:100%;

    display: flex;
    flex-wrap:wrap;
    /*justify-content: space-around;*/
    margin-bottom:90px;

}

.neighborhood{
	width:27%;
	min-height: 100px;
	margin:10px;
	padding:1%;
	background-color:white;
}

.neighborhood__title{
	font-size:1em;
}